<% content_for :title, "Editing customer" %>

<div class="container">
  <h1>Edit customer</h1>
  <%= link_to "Back to customers", customers_path %>

  <%= render "form", customer: @customer %>
</div>
